
  @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');

:root {
	--dark: #202734;
	--darker: #455365;
	--darkest: #111827;
	--grey: #dae7ff;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
    --blue: rgb(28, 149, 224);
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

.heading{
    text-align: center;
    margin-bottom:0;
    font-family: 'Alkatra', cursive;
    font-size:5rem;
    color:white;
}
.heading img{
	width:60px;
}
.sub-heading{
    margin-bottom:0;
    font-family: 'Alkatra', cursive;
    font-size:5rem;
    color:var(--blue);

}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#new-task-form {
	background-color: var(--darker);
	border-radius:25px;
	display: flex;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	
	padding: 1rem 2rem 1rem;
	
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
    color: white;
    border-radius: 4rem;
    padding-left: 40px ;
    padding-right: 40px;
	font-size: 1.25rem;
    background-color: var(--blue);
	font-weight: 700;
	cursor: pointer;
	transition: 0.4s;
    opacity: 0.8;
}

#new-task-submit:hover {
    opacity: 1;
}

#new-task-submit:active {
	background-color: rgb(16, 76, 113);
}

main {
	flex: 1 1 0%; 
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-family: 'Alkatra', cursive;
	font-size: 1.7rem;
	font-weight: 300;
	color: white;
	margin-bottom: 1rem;
}


ul li{
	background-color: var(--darker);
	margin:10px;
	border-radius:20px;
	position: relative;
	list-style: none;
	padding: 12px 3px 12px 50px;
	font-size:20px;
	user-select: none;
	cursor: pointer;
}
ul li::before{
	content: '';
	position: absolute;
	margin-left:5px;
	height:28px;
	width:28px;
	border-radius: 50%;
	background-image: url('https://cdn3.iconfinder.com/data/icons/arrows-160/96/uncheckedV_circle-512.png');
	filter: invert();
	background-size: cover;
	background-position: center;
	top:9.3px;
	left:8px;
}
ul li.checked::before{
	background-image: url('https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/check-circle-blue-1024.png');
	filter: none;
	filter: contrast(2);
}

ul li.checked{
	color: rgb(9, 136, 214);
	text-decoration: line-through;
}
ul li span{
	position:absolute;
	color:white;
	right:0;
	top: 9.3px;
	width:28px;
	height:28px;
	font-size:22px;
	background-color: rgb(9, 136, 214);
	margin-right:9px;
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
}
ul li span:hover{
	background-color: rgb(28, 165, 251);
}

@media (max-width:509px){
    .heading{
        font-size: 3rem;
    }
    .sub-heading{
        font-size: 3rem;
    }

	#new-task-form{
		width:fit-content;
		margin: auto;
	}

	#new-task-submit{
		padding-left: 20px;
		padding-right: 20px;
	}
	#new-task-input{
		width:160px;
	}
	#new-task-input,#new-task-submit{
		font-size: 14px;
	}
	.heading img{
		width:40px;
	}
	ul li{
		margin-left:0;
		font-size:14px;
	}

	ul li::before{
		top: 6px;
	}
	ul li span{
		top: 6px;
	}
}


